In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [4]:
titanic_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/First_ML_Model/master/titanic.csv", index_col = 'PassengerId')

In [62]:
titanic_data.head()

             Survived  Pclass  ... Cabin Embarked
PassengerId                    ...
1                   0       3  ...   NaN        S
2                   1       1  ...   C85        C
3                   1       3  ...   NaN        S
4                   1       1  ...  C123        S
5                   0       3  ...   NaN        S

[5 rows x 11 columns]

In [ ]:
a=print('% of Females :-',titanic_data['Sex'=='female'].describe)
a

In [78]:
titanic_data['Sex'].describe()

count      891
unique       2
top       male
freq       577
Name: Sex, dtype: object

In [127]:
titanic_data['Fare'].describe()

AttributeError: ignored

In [ ]:
titanic_data.sort_values(by='Fare', ascending=False)

In [7]:
print('Total number of passangers in the training data...', len(titanic_data))
print('Number of passangers in the training data who survived...', len(titanic_data[titanic_data['Survived'] == 1]))

Total number of passangers in the training data... 891
Number of passangers in the training data who survived... 342

In [118]:
survived_passengers=((titanic_data['Survived'][titanic_data['Embarked'] == 'S'])).sum()
survived_passengers

217

In [ ]:
s_p=((titanic_data['SibSp'==1])).describe()
s_p

In [155]:
a=titanic_data[in(len('SibSp'))]

KeyError: ignored