## Solutions of Week 0 Day 3 Practice Questions
##### We thank our coaches for coming up with this. 
##### **Contributors:** Sanyam Dhawan, Utkarsh, Aishwarya Yadav, Avi Tomar, Julian Marinda, Manish KC, Gunnika Batra

1 : Take values of length and breadth of a rectangle from user and check if it is square or not.

In [0]:
length=int(input("Enter the length: "))
breadth=int(input("Enter the breadth: "))

if length==breadth:   # Check if length and breadth are equal
    print("It is a square.")
else:
    print("It is not a square.")

Enter the length: 3
Enter the breadth: 4
It is not a square.

2. Take two int values from user and print greatest among them

In [0]:
number1=int(input("Enter the first number: "))
number2=int(input("Enter the second number: "))

if number1>number2:  # Find the larger number using > operator
    print("Greater number is ",number1)
else:
    print("Greater number is ",number2)

Enter the first number: 4
Enter the second number: 1
Greater number is  4

3. Write a program to read the age of a candidate and determine whether it is eligible for casting his/her own vote.

In [0]:
age=int(input("Enter your age: "))
if age>=18:   # Candidates with age 18 and above are eligible to vote in India
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Enter your age: 33
Eligible to vote

4. Write a Python program to add a key to a dictionary. 
Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [0]:
sample_dictionary={0:10,
                   1:20}

print("Sample dictionary",sample_dictionary)

sample_dictionary[2]=30  #Setting the key 2 with value 30
print("Sample dictionary after adding new key pair",sample_dictionary)

Sample dictionary {0: 10, 1: 20}
Sample dictionary after adding new key pair {0: 10, 1: 20, 2: 30}

5. Below are the two lists, convert it into a dictionary.

keys = ['Ten', 'Twenty', 'Thirty']

values = [10, 20, 30]

Expected output:
{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [0]:
# Naive approach
# Using loops

keys = ['Ten', 'Twenty', 'Thirty'] 
values = [10, 20, 30]

# Initialize an empty dictionary
dict_ = {}   # a dictionary can also be initialized using dict() function as dict_ = dict()

for i in range(len(keys)):
  dict_[keys[i]] = values[i]

print(dict_)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [0]:
# Using zip() function
keys = ['Ten', 'Twenty', 'Thirty'] 
values = [10, 20, 30]
dict_=dict(zip(keys,values)) #use zip function to combine the two lists into one. 
                             #Finally, convert the zipped object into dictionary
print(dict_)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

6. Access the value of key ‘history’

sampleDict = { 

"class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

Expected output:
80

In [2]:
sampleDict = { 
    "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
print(sampleDict['class']['student']['marks']['history']) #going into the layers of the dictionary one by one.
# First, sampleDict contains only one key - class. 
# We'll access the value of the class key by sampleDict['class']

# The value of class key is itself a dictionary with only student as the key. 
# We'll access value of student key by sampleDict['class']['student']

# Again, the value of student key is itself a dictionary with name and marks as the key. 
# Since history is a key inside the marks dictionary, we'll access it by sampleDict['class']['student']['marks']

# Finally, to get the value of the history key, we'll do sampleDict['class']['student']['marks']['history'] 
# and print the required output

80

7. Given the following dictionary:

inventory = {
  	'gold' : 500,
   	'pouch' : ['flint', 'twine', 'gemstone'],
   	'backpack' : ['xylophone','dagger', 'bedroll','bread loaf']
}


Try to do the following:

1. Add a key to inventory called 'pocket'.

2. Set the value of 'pocket' to be a list consisting of the strings 'seashell', 'strange berry', and 'lint'. 

3. .sort()the items in the list stored under the 'backpack' key.

4. Then .remove('dagger') from the list of items stored under the 'backpack' key.

5. Add 50 to the number stored under the 'gold' key.

In [0]:
inventory = {
    'gold' : 500,
    'pouch' : ['flint', 'twine', 'gemstone'],
    'backpack' : ['xylophone','dagger', 'bedroll','bread loaf']
}

#Task 1 and 2
inventory['pocket']=[ 'seashell', 'strange berry','lint']  
# added a new key to the dictionary and assigned its value as a list

inventory

{'gold': 500,
 'pouch': ['flint', 'twine', 'gemstone'],
 'backpack': ['xylophone', 'dagger', 'bedroll', 'bread loaf'],
 'pocket': ['seashell', 'strange berry', 'lint']}

In [0]:
#Task 3
inventory['backpack'].sort()  #using sort function to sort the values in ascending order

inventory

{'gold': 500,
 'pouch': ['flint', 'twine', 'gemstone'],
 'backpack': ['bedroll', 'bread loaf', 'dagger', 'xylophone'],
 'pocket': ['seashell', 'strange berry', 'lint']}

In [0]:
#Task 4
inventory['backpack'].remove('dagger')  #first, accessed the value of the backpack key which is a list.
# using the remove function, removed the value dagger from the list

inventory

{'gold': 500,
 'pouch': ['flint', 'twine', 'gemstone'],
 'backpack': ['bedroll', 'bread loaf', 'xylophone'],
 'pocket': ['seashell', 'strange berry', 'lint']}

In [1]:
#Task 5
inventory['gold']=inventory['gold']+50  #accessed the value of gold key, added 50 to it 
# and stored it back into the same key

inventory

NameError: ignored